[submodule ".registry"]
	path = .registry
	url = https://github.com/dataccino/universe
	branch = HEAD
[submodule "inteRgrate"]
	path = inteRgrate
	url = https://github.com/jumpingrivers/inteRgrate
	branch = main
